- var navList = [{key:'userlist', val: 'User List'},{key:'namelist', val: 'Name List'}]

nav(class='navbar')
    ul(class='nav flex-column nav-pills')
        each item in navList
            - if ( navCursor === item.key )
                a(class='nav-link active') #{item.val}
            - else
                a(class='nav-link' href='/#{item.key}') #{item.val}
