nav(class='navbar navbar-light justify-content-between')
    a(class='navbar-brand' href='#', style='height:80px;')
        img(src='/images/freeddns.png', alt='Logo', style='width:80px;')
    form(class='form-inline')
        button(class='btn btn-outline-success my-2 my-sm-0') 로그아웃