nav(class='navbar navbar-light justify-content-between')
    a(class='navbar-brand' href='#', style='height:80px;')
        img(src='/images/freeddns.png', alt='Logo', style='width:80px;')
    form(class='form-inline', action='/logout', method='GET')
        p(class='my-2 mx-sm-5')
            strong #{data.user}
        button(class='btn btn-outline-success my-2 my-sm-0') 로그아웃